@{
    ViewData["Title"] = "Home Page";
}


<style>
    h1 {
        position: center;
    }
</style>
<fieldset style="border:1px;">
    <div class="container" style="margin-right: 0%; background-color:antiquewhite">

        <div class="text-center" style="        margin-right: 5%;">

            <h1 class="" style="font-family:fantasy">Bem vindo</h1>

        </div>
        <img src="~/corona_355ml.png" style="width:30%" />
        <img src="~/skol_1l.png" style="width:35%; margin-right:0% " />
        <img src="~/becks_330ml.png" style="width:30%" />
        <div>
            <div class="text-center" style="margin-right:0%;">

                <h4 class="" style="font-family:fantasy">Conheça nossa história</h4>

                <p>A Ambev nasceu, em 1999, da união entre as centenárias <b>Cervejaria Brahma</b> e <b>Companhia Antarctica</b>. Mas a nossa história começou muito antes, quando ainda éramos duas cervejarias na década de 1880: a <b>Companhia Antarctica Paulista e a Manufactura de Cerveja Brahma &amp; Villeger &amp; Companhia</b>.</p>
                <p class="p1"><span class="s1">Desde então, em mais de um século, passamos por incontáveis momentos juntos: as celebrações mais incríveis, os shows dos seus sonhos, o jogo de futebol inesquecível. Estamos com você nos melhores momentos e, por todo esse tempo, seguimos crescendo para unir forças e fortalecer ainda mais os vínculos com você, nosso cliente.</span></p>
                <span class="s1">Desde então, em mais de um século, passamos por incontáveis momentos juntos: as celebrações mais incríveis, os shows dos seus sonhos, o jogo de futebol inesquecível. Estamos com você nos melhores momentos e, por todo esse tempo, seguimos crescendo para unir forças e fortalecer ainda mais os vínculos com você, nosso cliente.</span>
                <p class="p1"><span class="s1">Aumentar o nosso negócio e variar a cartela de sabores é diversificar e garantir a nossa participação nos seus momentos de comemoração. É para isso que trabalhamos: para desenvolver o gosto certo em cada uma dessas etapas.</span></p>
                <p class="p1"><span class="s1">Hoje, são mais de 100 rótulos. O nosso compromisso é celebrar com você para continuar presente nos momentos mais especiais, compartilhando todas as conquistas pelos próximos&nbsp;</span><span class="s1">cem anos.</span></p>
                <p class="p1"><span class="s1">A nossa missão é a nossa razão de ser e o compromisso da Ambev como empresa.</span></p>

            </div>
            <br />
            <div class="text-center" style="margin-right: 0%;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UbZq2WStI78" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br />

            </div>
        </div>
    </div>
</fieldset>
