
@{
    ViewData["Title"] = "Add";
}

<h2>Adicionar produtos no carrinho de compras</h2>

<div class="container" style="background-color:antiquewhite">
    <div class="form-horizontal">
        <form method="post">
            <div>
                <img title="adicionar" src="https://static.carrefour.com.br/medias/sys_master/images/images/h59/h72/h00/h00/13093771083806.jpg" style="width:08%; height:70%;cursor: pointer; margin-top:2%;" />
                <i>BUDWEISER</i>
            </div>
            <div>
                <img title="adicionar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRAJuWP-_IdFdT9SwJWD1EXlYCpmAJv-_Zt9Z8YKRi1pBxnx9aP" style="width:08%; height:70%;cursor: pointer; margin-top:2%;" />
                <i>SKOL</i>
            </div>
            <div>
                <img title="adicionar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTysBLqkOuCDF0YNvqAz-PCD0lgT2M_y9eJwK6OopVoxRmBmgC" style="width:08%; height:70%;cursor: pointer; margin-top:2%;" />
                <i>CORONA</i>
            </div>
            <div>
                <img title="adicionar" src="https://images-americanas.b2w.io/produtos/01/00/img/514838/9/514838951_1GG.jpg" style="width:08%; height:70%;cursor: pointer; margin-top:2%;" />
                <i>BECK'S</i>
            </div>
            <div>
                <img title="adicionar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ0hMCulUOP_WrfYE_Au7e5QRR3YUhmQWMiEQ0CAdl2O0TMJ4K_" style="width:08%; height:70%;cursor: pointer; margin-top:2%;" />
                <i>ANTARTICA</i>
            </div>
            <div>
                <img title="adicionar" src="https://a-static.mlcdn.com.br/618x463/cerveja-antarctica-original-600ml/emporio-da-cerveja/35/5a6a0ddbde9a0608e424b93b1d1c496e.jpg" style="width:08%; height:70%;cursor: pointer; margin-top:2%; margin-bottom:2%;" />
                <i>ORIGINAL</i>
            </div>
        </form>
    </div>
</div>